/* .ion-palette-dark */

/* scrollbards override to make slender everywhere */
/* Global styles to disable scrollbars */
/* For Webkit browsers (Chrome, Safari) */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.slim-scrollbar,
.slim-scrollbar > * {
    /* General scrollbar styles (e.g., for WebKit browsers) */
    scrollbar-width: auto; /* Default for other browsers */
}
/* Apply thin scrollbar only for Firefox */
@-moz-document url-prefix() {
    .slim-scrollbar {
        scrollbar-width: thin;
    }
}

.slim-scrollbar::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
    height: 1px; /* Height of the scrollbar for horizontal scrolling */
}

.slim-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.8); /* Color of the scrollbar thumb with transparency */
    border-radius: 10px; /* Rounded corners */
}
.ion-palette-dark .slim-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.8); /* Color of the scrollbar thumb with transparency */
}

.slim-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.8); /* Color of the scrollbar thumb when hovered */
}
.ion-palette-dark .slim-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(180, 180, 180, 0.8); /* Color of the scrollbar thumb when hovered */
}

.slim-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* White background for the track */
}

html,
body {
    touch-action: manipulation; /* Prevents double-tap to zoom */
}

/* note toolbar global styles */
.ql-toolbar.ql-snow {
    padding: unset;
}
.toolbar-anchor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 2px;
    height: 2px;
    /* background-color: red; */
}
.toolbar {
    position: absolute;
    bottom: calc(100% - -10px);

    /* width: 100%; */
    /* top: -50px; */
    /* left: 0; */

    /* width: 400px;
    left: calc(100% - 200px); */

    width: 260px;
    left: calc(100% - 130px);

    border: 0 !important;
    background-color: rgba(0, 0, 0, 0.2);

    /* display: flex; */
    /* justify-content: space-between; */
}
.toolbar-obstructed {
    /* left: 0 !important; */
    top: unset;
    bottom: 0;
}
.toolbar-obstructed .toolbar {
    bottom: calc(100% - +80px);
}
/* for screens less than 400 px */
/* @media screen and (max-width: 400px) {
    .toolbar {
        width: 260px;
        left: calc(100% - 130px);
    }
} */

.ion-palette-dark .toolbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.canvas-background {
    background-color: #f7f9fc;
}
.ion-palette-dark .canvas-background {
    background-color: #212121;
}

.not-visible {
    visibility: hidden !important;
}
.visible {
    visibility: visible !important;
}
